.App-logo {
  height: 70px;
}

.App-header {
  height: 280px;
  padding-top: 20px;
  padding-bottom: 100px;
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}
